@font-face {
    font-family: 'Text';
    src: url('/fonts/Tapestry-regular.ttf');
}

.bubble{
    animation-name: appearance;
    animation-duration: 1s;
    background-color: #F2F2F2;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: absolute;
    top:30%;
    left: 65%;
    text-align: center;
    font-family: Text;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left;   
    margin: 5px 100px 5px 20px;         
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.you {
    float: right;    
    margin: 5px 20px 5px 45px;         
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
@font-face{
  font-family:botons;
  src:url(TravelingTypewriter.ttf)
}



.button-wrap {
  text-align: center;
}
@media (max-width: 40em) {
  .button-wrap {
    margin-top: -1.5em;
  }
}

.button-label {
  display: inline-block;
  padding-top: 5px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px ;
  margin: 0.5em;
  cursor: pointer;
  color: #292929;
  border-radius: 0.25em;
  background: #efefef;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button-label h1 {
  font-size: 1em;
  font-family: "Lato", sans-serif;
}
.button-label:hover {
  background: #d6d6d6;
  color: #101010;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}
.button-label:active {
  transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}
@media (max-width: 40em) {
  .button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}

#yes-button:checked + .button-label {
  background: #2ECC71;
  color: #efefef;
}
#yes-button:checked + .button-label:hover {
  background: #29b765;
  color: #e2e2e2;
}

#no-button:checked + .button-label {
  background: #D91E18;
  color: #efefef;
}
#no-button:checked + .button-label:hover {
  background: #c21b15;
  color: #e2e2e2;
}



.hidden {
  display: none;
}

#submit1, #submit2, #submit3, #submit4{
    position: relative;
    border: 0;
    font-family: 'Lato';
    border-radius: 3px;
    width: 300px;
    height: 70px;
    font-family: botons;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
#submit1:hover, #submit2:hover, #submit3:hover, #submit4:hover{
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.3);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.3);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.3);
  transition: all 200ms ease-in;
  transform: scale(1.3);

  }

  .superShadow {
    text-shadow:     0 1px 0 hsl(174,5%,80%),
                     0 2px 0 hsl(174,5%,75%),
                     0 3px 0 hsl(174,5%,70%),
                     0 4px 0 hsl(174,5%,66%),
                     0 5px 0 hsl(174,5%,64%),
                     0 6px 0 hsl(174,5%,62%),
                     0 7px 0 hsl(174,5%,61%),
                     0 8px 0 hsl(174,5%,60%),
    
                     0 0 5px rgba(0,0,0,.05),
                    0 1px 3px rgba(0,0,0,.2),
                    0 3px 5px rgba(0,0,0,.2),
                   0 5px 10px rgba(0,0,0,.2),
                  0 10px 10px rgba(0,0,0,.2),
                  0 20px 20px rgba(0,0,0,.3);
  }
  
  strong{
    font-size:200px;
  }

  @keyframes appearance {
    20%, 80%{transform: translateY(0);} 
    0%{
      rotate: -90deg; left:60%; transform: translateY(0);
    }
    40%{transform: translateY(-30px)}
    50% {
      rotate: 0deg; left:65%;    transform: translateY(0);
    }
    60%{transform: translateY(-15px)}
    100%{
      transform: translateY(0);
    }
  }