canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}
.options {
    display: inline-grid;
    grid-gap: 25px;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 15%;
    top: 30%;
    border: 10px;
      border-top-style: none;
      border-right-style: none;
      border-bottom-style: none;
      border-left-style: none;
    border-style: groove;
    padding: 15px;
  }
  .option {
    cursor: pointer;
  }
  .option:hover{
    cursor:pointer;
    
  }
.ui-dialog .ui-corner-all .ui-widget .ui-widget-content .ui-front .ui-draggable .ui-resizable{
  position: absolute;
height: auto;
width: 300px;
top: 35%;
left: 43%;
}